---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import MainLayout from '../layouts/MainLayout.astro';

const blogEntries = await getCollection('blog', ({ data }) => {
  return data.publishDate < new Date();
});

blogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<MainLayout title='Blog'>
  <main class='mt-16'>
    <ul class='grid gap-16 max-w-4xl mx-auto'>
      {
        blogEntries.map((blogPostEntry, index) => {
          <li>
            <a href={'/blog/${blogPostEntry.slug}'}
              <div class='grid md:grid-cols-2 gap-5 md:gap-10 items-center'>
                <Image
                  src={blogPostEntry.data.image.src}
                  alt={blogPostEntry.data.image.alt}
                  sizes="(max-width: 800px) 100vw, 800px"
                  widths={[200, 400, 800]}
                  aspectRatio='16:9'
                  background='#ffffff'
                  fit="cover"
                  position='center'
                  loading={index <= 2 ? "eager" : "lazy"}
                  decoding={index <= 2 ? "sync" : "async"}
                  class="w-full rounded-md"
                />
                  <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1">
                    {blogPostEntry.data.title}
                  </h2>
              </div>
            </a>
          </li>
        })
      }
    </ul>
  </main>
</MainLayout>
