---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.svelte";
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<html lang="en" class="text-black bg-[#A89B8C] font-san">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{ title }</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
      <slot>Work in Progress</slot>
    <Footer />
  </body>
</html>

